@{
    ViewData["Title"] = "SERVICIOS DE AYUDA";
}

<div class = "botones-ayuda" style="height: 855px; position: relative; display:flex; align-items: start; flex-direction: column; top: 145px; left: 68px;">

    <button>Como gastar puntos </button>
    <button>Registrarse </button>
    <button>Cuenta y app </button>
    <button>Sistema de reportes </button>
    <button>Seguridad</button>

</div>