@{
    ViewData["Title"] = "SERVICIOS DE AYUDA";
}

<div class="botones-ayuda" style="height: 855px; position: relative; display:flex; align-items: start; flex-direction: column; top: 145px; left: 68px;">

    <button class="expandable-btn">Como gastar puntos <span class="arrow">▶</span></button>
    <div class="content">
        Esta sección te explica cómo utilizar los puntos acumulados en el sistema de ParkPoint. Podrás canjearlos por beneficios como tiempo de estacionamiento adicional, descuentos en servicios asociados o recompensas exclusivas para usuarios frecuentes.
    </div>

    <button class="expandable-btn">Registrarse <span class="arrow">▶</span></button>
    <div class="content">
        Aprende los pasos para crear una cuenta en ParkPoint. Te guiaremos en el proceso de registro, desde la introducción de tus datos personales hasta la activación de tu cuenta para empezar a utilizar todas las funciones de la aplicación.
    </div>

    <button class="expandable-btn">Cuenta y app <span class="arrow">▶</span></button>
    <div class="content">
        Aquí encontrarás información sobre cómo gestionar tu cuenta en ParkPoint, como cambiar tu contraseña, actualizar tus datos personales o configurar notificaciones. También se incluyen consejos para aprovechar al máximo nuestra aplicación móvil.
    </div>

    <button class="expandable-btn">Sistema de reportes <span class="arrow">▶</span></button>
    <div class="content">
       Descubre cómo reportar problemas o situaciones relacionadas con los espacios de estacionamiento, como ocupaciones indebidas, errores en el mapa o incidencias técnicas. Este sistema nos ayuda a mantener un servicio eficiente y confiable.
    </div>

    <button class="expandable-btn">Seguridad <span class="arrow">▶</span></button>
    <div class="content">
        Conoce las medidas de seguridad implementadas por ParkPoint para proteger tus datos personales y tus transacciones en la aplicación. También incluimos consejos sobre cómo mantener tu cuenta segura y qué hacer en caso de actividad sospechosa.
        <a href="/img/Reportar informacion.jpg">
        <img src="/img/Reportar informacion.jpg" class="imagen-view">
        </a>

    </div>

</div>

<script src="~/js/ayuda.js"></script>
