@{
    ViewData["Title"] = "SERVICIOS DE AYUDA";
}

<div class="botones-ayuda" style="height: 855px; position: relative; display:flex; align-items: start; flex-direction: column; top: 145px; left: 68px;">

    <button class="expandable-btn">Como gastar puntos <span class="arrow">▶</span></button>
    <div class="content">
        Lorem
    </div>

    <button class="expandable-btn">Registrarse <span class="arrow">▶</span></button>
    <div class="content">
        Lorem
    </div>

    <button class="expandable-btn">Cuenta y app <span class="arrow">▶</span></button>
    <div class="content">
        Lorem
    </div>

    <button class="expandable-btn">Sistema de reportes <span class="arrow">▶</span></button>
    <div class="content">
       Lorem
    </div>

    <button class="expandable-btn">Seguridad <span class="arrow">▶</span></button>
    <div class="content">
        Lorem
    </div>

</div>

<script src="~/js/ayuda.js"></script>
