@{
    ViewData["Title"] = "ESTACIONAR";
}

<div class="contenedor-main">

    <form action="@Url.Action("Index")">

        <div class="casilla-formulario">
            <h5>Calle<span>*</span></h5>
            <input class="input-formulario" type="text" name="calle" placeholder="Yatay" autocomplete="off" required />
        </div>

        <div class="casilla-formulario">
            <h5>Altura<span>*</span></h5>
            <input class="input-formulario" type="number" name="Altura" placeholder="240" autocomplete="off" required />
        </div>

        <input type="submit" value="Ocupar lugar">

    </form>

</div>
