@{
    ViewData["Title"] = "Index - No puedes usar el mapa";
}

<div class = "div-bloqueado">


<img class = "index-bloqueado-foto" src = "~/img/index-bloqueado.jpeg">

<p class = "message">¡No tienes más visualizaciones de mapa disponibles!</p>
<p class = "message"><a class = "link">Gasta tus ParkPoints</a> para conseguir más o espera:</p>

<p class="timer">07:34:52</h3>

</div>