<div class = "div-centrado"> 
<div class = "bg-log-in">
<form class="form" action='@Url.Action("InicioSesion")' method="post" >
    <p class="message">INICIA SESIÓN EN PARKPOINT</p>
            
    <label>
        <input autocomplete = "off" required="" placeholder="" type="email" class="input" name = "email">
        <span>Email</span>
    </label> 
     
    <label>
        <input autocomplete = "off" required="" placeholder="" type="password" class="input" name = "contra">
        <span>Contraseña</span>
    </label>
    <button class="submit">Iniciar sesión</button>
    <p class="signin">¿No tienes una cuenta? <a href="@Url.Action("Registro")">Registrate</a> </p>
</form>

</div>

</div>
