@{
    ViewData["Title"] = "PERFIL";
}
<div class="contenedor-main">

   <div class="logo-perfil">
    <img src="~/img/foto-perfil.jpg" class="foto-perfil" />
   </div>

   <div class="elementos-perfil">

    <div class ="elemento-perfil"> <label class="nombre-perfil"> Nombre</label> <input readonly type="text" class="input-perfil"> </div>
    <div class ="elemento-perfil"><label class="nombre-perfil"> Apellido</label> <input readonly type="text" class="input-perfil"></div>
    <div class ="elemento-perfil"><label class="nombre-perfil"> Marca</label> <input readonly type="text" class="input-perfil"></div>
    <div class ="elemento-perfil"><label class="nombre-perfil"> Patente</label> <input readonly type="text" class="input-perfil"></div>
   </div>

</div>