@{
    ViewData["Title"] = "PUNTOS";
}


<div class = "contenedor-main">

    <div class = "cantidad-puntos">
        <img src="~/img/ParkPoints.png" alt="ParkPoints">
        <p>60</p>
    </div>
    <div class = "imagenes-puntos">

        <div class = "contenedor-imagen-puntos">
            <img src="~/img/Recoger-puntos.jpg" alt="Recoger puntos">
            <p class = "texto-recoger">Recoger: ยก60 ParkPoints!</p>
        </div>
        

        <div class = "contenedor-imagen-puntos">
            <div id = "img-especial"></div>
            <p class = "texto-gastar">Gastar puntos</p>
        </div>
        
    </div>
</div>