@{
    ViewData["Title"] = "PUNTOS";
}

<div class = "cantidad-puntos">
        <img src="~/img/ParkPoints.png" alt="ParkPoints">
        <p>60</p>
    </div>
<div class = "contenedor-main">

    
    
    <div class = "imagenes-puntos">
        <img src="~/img/Recoger-puntos.jpg" alt="Recoger puntos">
        <div id = "img-especial"></div>
        
    </div>
</div>