<div class = "div-centrado"> 
<div class = "bg-log-in">
<form class="form">
    <p class="title">Register </p>
    <p class="message">Signup now and get full access to our app. </p>
        <div class="flex">
        <label>
            <input required="" placeholder="" type="text" class="input">
            <span>Nombre</span>
        </label>

        <label>
            <input required="" placeholder="" type="text" class="input">
            <span>Apellido</span>
        </label>
    </div>  
            
    <label>
        <input required="" placeholder="" type="email" class="input">
        <span>Email</span>
    </label> 
        
    <label>
        <input required="" placeholder="" type="password" class="input">
        <span>Contraseña</span>
    </label>
    <label>
        <input required="" placeholder="" type="password" class="input">
        <span>Confirmar Contraseña</span>
    </label>
    <button class="submit">Registrarse</button>
    <p class="signin">¿Ya tienes una cuenta? <a href="#">Iniciar Sesion</a> </p>
</form>

</div>

</div>