<div class = "div-centrado"> 
<div class = "bg-log-in">
<form class="form" action='@Url.Action("Registro")' method="POST">
    <p class="message">REGISTRATE EN PARKPOINT</p>
        <div class="flex">
        <label>
            <input autocomplete = "off" required="" placeholder="" type="text" class="input" name = "nombre">
            <span>Nombre</span>
        </label>    

        <label>
            <input autocomplete = "off" required="" placeholder="" type="text" class="input" name = "apellido">
            <span>Apellido</span>
        </label>
    </div>  
            
    <label>
        <input autocomplete = "off" required="" placeholder="" type="email" class="input" name = "email">
        <span>Email</span>
    </label> 
        
    <label>
        <input autocomplete = "off" required="" placeholder="" type="password" class="input" name = "contra">
        <span>Marca</span>
    </label>
    <label>
        <input autocomplete = "off" required="" placeholder="" type="password" class="input" name = "confirmContra">
        <span>Modelo</span>
    </label>

    <label>
        <input autocomplete = "off" required="" placeholder="" type="email" class="input" name = "email">
        <span>Patente</span>
    </label> 

    <label>
        <input autocomplete = "off" required="" placeholder="" type="password" class="input" name = "contra">
        <span>Contraseña</span>
    </label>
    <label>
        <input autocomplete = "off" required="" placeholder="" type="password" class="input" name = "confirmContra">
        <span>Confirmar Contraseña</span>
    </label>
    <button class="submit">Registrarse</button>
    <p class="signin">¿Ya tienes una cuenta? <a href="#">Iniciar Sesion</a> </p>
</form>

</div>

</div>