@{
    ViewData["Title"] = "REPORTAR INFORMACIÓN";
}

<div class="contenedor-main">

   <div class = "imagenes-reportes">

        <div class="card-reportar">
            <img src="~/img/tiemporeal.png" alt="En tiempo real">
            <p class="texto-reportar">En tiempo real</p>
        </div>

        <div class="card-reportar">
            <img src="~/img/infraccion.png" alt="Infracción">
            <p class="texto-reportar">Infracción</p>
        </div>

   </div>
    
</div>
