html,
body {
  overflow-y: visible;
  overflow-x: hidden;
  box-sizing: border-box;
}

* {
  font-family: "Alexandria", sans-serif;
}

#map {
  height: 92.3vh;
}

footer {
  background-color: #1f2733;
  color: white;
  position: relative;
}

.contenedor-footer {
  display: flex;
  padding: 0 80px;
}

footer ul {
  padding: 0;
}

footer h3 {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

footer ul li {
  margin-bottom: 10px;
  list-style: none;
}

footer ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.redes-sociales {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  gap: 10px;
}

.redes-sociales a img {
  width: 40px;
  height: 40px;
}

.logo {
  width: 350px;
}

.Copyright {
  display: flex;
  justify-content: end;
  padding: 10px 20px;
  margin-bottom: 0;
}

.logoheader {
  margin-left: 13px;
  width: 40px;
}

.barra-busqueda {
  position: absolute;
  top: 30px;
  left: 70px;
  z-index: 1000;
  background-color: #171d8d;
  border-radius: 25px;
  padding: 5px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.barra-busqueda img {
  width: 35px;
}

.barra-busqueda input {
  padding: 10px;
  border: none;
  outline: none;
  width: 250px;
  background-color: #171d8d;
  color: #ffffff;
  border-radius: 25px;
}

.barra-busqueda input::placeholder {
  color: #ffffff;
}

.tiempo-zona {
  position: absolute;
  top: 35px;
  right: 70px;
  background-color: white;
  padding: 10px 20px;
  border-radius: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.conjunto-botones-de-accion {
  position: absolute;
  bottom: 30px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px; /* Más separación entre botones */
  z-index: 1000;
}

.conjunto-botones-de-accion a {
  border-radius: 50px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-weight: bold;
  width: 200px;
  box-sizing: border-box;
}

.ocupar-espacio {
  background-color: #171d8d;
  color: #ffffff;
  justify-content: center;
  font-size: 14px;
  white-space: nowrap;
  padding: 15px 25px;
}

.ocupar-espacio img {
  width: 25px;
}

.reportar {
  background-color: #ffffff;
  color: #171d8d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 15px 30px 15px 50px;
  position: relative;
  white-space: nowrap;
}

.reportar img {
  width: 30px; 
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}


.todo-mapa {
  position: relative;
}

header {
  padding: 0.5rem;
  display: flex;
  background: linear-gradient(
    90deg,
    #001aff 0%,
    #0019f1 16%,
    #0014cb 34%,
    #0011b0 81%,
    #000f99 99%
  );
}

header nav {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  margin-left: auto;
  margin-top: 0.5rem;
  gap: 15px;
}

header nav a {
  text-decoration: none;
  color: white;
}

.botones-header {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
  margin-top: 0.5rem;
  gap: 20px;
}

.perfil,
.notis {
  width: 40px;
}

.columna {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

.reportar-o-estacionar {
  margin-top: 120px;
}

.casilla-formulario {
  padding-bottom: 30px;
}

.casilla-formulario h5 {
  margin-bottom: 5px;
  font-size: 20px;
}

.casilla-formulario h5 span {
  color: red;
}

.input-formulario {
  padding-left: 15px;
  font-size: 1.2rem;
  border: 3px solid #000f99;
  width: 900px;
  height: 69px;
  border-radius: 10px;
}

.input-formulario::placeholder {
  font-size: 1.2rem;
  color: #999;
}

#submit-estacionar {
  margin-top: 150px;
  width: 900px;
  height: 87.07px;
  border-radius: 20px;
  border: none;
  background-color: #171d8d;
  color: white;
  font-size: 1.5rem;
}

#submit-reportar {
  margin-top: 70px;
  width: 900px;
  height: 87.07px;
  border-radius: 20px;
  border: none;
  background-color: #171d8d;
  color: white;
  font-size: 1.5rem;
}

#submit-reportar:hover,
#submit-estacionar:hover {
  transition-duration: 0.1s;
  background-color: #0019f1;
}

.imagenes-reportes {
  gap: 100px;
  display: flex;
  align-items: center;
}

.imagenes-reportes img {
  border-radius: 20px;
  width: 100px;
  height: 500px;
  padding: 30px;
}

.cantidad-puntos {
  display: flex;
  position: absolute;
  top: 130px;
  right: 80px;
  align-items: center;
}

.cantidad-puntos p {
  margin-top: 15px;
  font-size: 60px;
}

.card-reportar {
  display: block;
  position: relative;
}

.card-reportar img {
  display: block;
  width: 600px;
  height: 600px;
  background-color: #000f99;
}

.texto-recoger {
  position: absolute;
  bottom: 5px;
  left: 95px;
  color: #ffffff;
  background-color: #171d8d;
  padding: 10px;
  font-size: 48px;
  border-radius: 20px;
  font-weight: bold;
}

.texto-reportar {
  background-color: rgba(23, 29, 141, 0.8);
  font-weight: bold;
  position: absolute;
  bottom: 0px;
  left: 10px;
  color: #ffffff;
  padding: 12px;
  font-size: 48px;
  border-radius: 20px;
}
.botones-ayuda button {
  border: 4px solid #171d8d;
  background-color: white;
  border-radius: 20px;
  width: 660px;
  font-size: 24px;
  text-align: start;
  padding-left: 10px;
  height: 60px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s ease;
}

.botones-ayuda button:hover {
  background-color: #f0f0f0;
}

.botones-ayuda .arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}

.botones-ayuda .content {
  width: 660px;
  padding: 10px 0;
  font-size: 18px;
  display: none;
  margin-top: -10px;
  margin-bottom: 30px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.botones-ayuda .content.active {
  padding-left: 20px;
  display: block;
  max-height: 200px;
  opacity: 1;
}

.bg-log-in {
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, #001aff 58.66%, #000f99 100%);
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  max-height: fit-content;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  align-self: center;
}

.title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message,
.signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.index-bloqueado-foto {
  width: 100vw; /* Ancho de la ventana del navegador */
  height: 100vh; /* Alto de la ventana del navegador */
  object-fit: cover; /* Hace que la imagen se recorte si es necesario para llenar el área */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Envía la imagen al fondo */
}

.div-bloqueado {
  padding-top: 10%;
  text-align: center;
}
.message {
  font-size: 40px;
  font-weight: bold;
  color: #171d8d;
}
.link {
  font-size: 40px;
  font-weight: bold;
  color: #001aff;
  text-decoration: underline;
}
.timer {
  font-size: 64px;
  font-weight: bold;
  color: #1e3a8a;
  margin-top: 100px;
}
.modal-card {
  display: flex;
  width: 300px;
  height: fit-content;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  position: absolute;
  bottom: 300px;
  left: 40%;
  align-self: center;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.068);
  z-index: 400;
}
.modal-card-content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.modal-card-heading {
  font-size: 20px;
  font-weight: 700;
  color: rgb(27, 27, 27);
}
.modal-card-description {
  font-weight: 500;
  color: rgb(25, 73, 206);
}
.modal-card-button-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.modal-card-button {
  width: 50%;
  height: 35px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  background-color: #000f99;
  color: white;
}

.modal-primary {
  background-color: rgb(185, 6, 0);
  color: rgb(255, 255, 255);
}
.modal-primary:hover {
  background-color: rgb(255, 73, 66);
}
.modal-secondary {
  background-color: #ddd;
}
.modal-secondary:hover {
  background-color: rgb(197, 197, 197);
}
.modal-exit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.modal-exit-button:hover svg {
  fill: black;
}
.modal-exit-button svg {
  fill: rgb(175, 175, 175);
}

.content {
  font-family: sans-serif;
}

/* Contenedor principal */
.contenedor-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

/* Foto de perfil */
.logo-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.foto-perfil {
  height: 125px;
  width: 125px;
  border-radius: 9999px; /* Para que sea redonda */
  margin-bottom: 1rem;
  border: none; /* Eliminar el borde de la foto */
}

/* Elementos del perfil */
.elementos-perfil {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  gap: 1.5rem; /* Aumento de espacio entre los inputs */
  margin-bottom: 2rem;
  width: 100%;
  max-width: 600px; /* Limitar el ancho del contenedor */
}

/* Elemento del perfil individual */
.elemento-perfil {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Estilo de los labels */
.nombre-perfil {
  color: #000000; /* Negro */
  margin-bottom: 0.5rem; /* Espacio entre el label y el input */
}

/* Estilo de los inputs */
.input-perfil {
  border: 1px solid #ccc; /* Borde suave */
  border-radius: 50px;
  padding: 0.75rem 1rem; /* Aumento de espacio dentro de los inputs */
  text-align: center; /* Centrado del texto dentro del input */
  width: 100%;
  max-width: 400px; /* Mayor ancho para los inputs */
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
  background-color: #f7fafc; /* Fondo suave */
  color: #4a5568; /* Color de texto */
}

/* Estilo del botón Cerrar sesión */
.cerrar-sesion {
  display: block;
  text-align: center;
  padding: 0.75rem 1.25rem;
  background-color: #171d8d;
  color: #ffffff;
  border: 1px solid #171d8d;
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
  max-width: 250px; /* Ancho del botón */
  margin-top: 2rem;
}

/* Efecto hover aplicado al botón Cerrar sesión */
.cerrar-sesion:hover {
  background-color: #ffffff;
  color: #171d8d;
  border: 1px solid #171d8d;
}





