html, body {
  overflow-y:visible;
  overflow-x: hidden; 
  box-sizing: border-box;
}

* {
  font-family: "Alexandria", sans-serif;
}

#map {
  height: 920px;
}

footer {
  background-color: #1f2733;
  color: white;
  position: relative;
}

.contenedor-footer {
  display: flex;
  padding: 0 80px; 
}

footer ul {
  padding: 0;
}

footer h3 {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

footer ul li {
  margin-bottom: 10px;
  list-style: none;
}

footer ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.redes-sociales {
  display: flex; 
  position: absolute;
  top: 20px;
  right: 20px;
  gap: 10px;
}

.redes-sociales a img {
  width: 40px;
  height: 40px;
}

.logo {
  width: 350px;
}

.Copyright {
  display:flex;
  justify-content: end;
  padding: 10px 20px;
  margin-bottom: 0;
}

.logoheader {
  margin-left: 13px;
  width: 40px;
}

.barra-busqueda {
  position: absolute;
  top: 30px;
  left: 70px;
  z-index: 1000;
  background-color: #171d8d;
  border-radius: 25px;
  padding: 5px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.barra-busqueda img {
  width: 35px;
}

.barra-busqueda input {
  padding: 10px;
  border: none;
  outline: none;
  width: 250px;
  background-color: #171d8d;
  color: #ffffff;
  border-radius: 25px;
}

.barra-busqueda input::placeholder {
  color: #ffffff;
}

.tiempo-zona {
  position: absolute;
  top: 35px;
  right: 70px;
  background-color: white;
  padding: 10px 20px;
  border-radius: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.conjunto-botones-de-accion {
  position: absolute;
  bottom: 30px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.conjunto-botones-de-accion a {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.ocupar-espacio {
  background-color: #171d8d;
  color: #ffffff;
}

.ocupar-espacio img {
  width: 30px;
}

.reportar {
  background-color: #ffffff;
  color: #171d8d;
}

.reportar img {
  position: relative;
  width: 40px;
  right: 3px;
}

.todo-mapa {
  position: relative;
}

header {
  padding: 0.5rem;
  display: flex;
  background: linear-gradient(
    90deg,
    #001aff 0%,
    #0019f1 16%,
    #0014cb 34%,
    #0011b0 81%,
    #000f99 99%
  );
}

header nav {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  margin-left: auto;
  margin-top: 0.5rem;
  gap: 15px;
}

header nav a{
  text-decoration: none;
  color: white;
}

.botones-header {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
  margin-top: 0.5rem;
  gap: 20px;
}

.perfil, .notis {
  width: 40px;
}

.columna {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

form{
  margin-top: 120px;
}

.casilla-formulario {
  padding-bottom: 30px;
}

.casilla-formulario h5 {
  margin-bottom: 5px;
  font-size: 20px
}

.casilla-formulario h5 span {
  color: red; 
}

.input-formulario {
  padding-left: 15px; 
  font-size: 1.2rem; 
  border: 2px solid #000F99;
  width: 900px; 
  height: 69px; 
  border-radius: 10px;
}

.input-formulario::placeholder {
  font-size: 1.2rem; 
  color: #999;
}

form input[type="submit"] {
  margin-top: 150px;
  width: 900px; 
  height: 87.07px;
  border-radius: 20px;
  border: none;
  background-color: #171D8D;
  color: white;
  font-size: 1.5rem;
}

form input[type="submit"]:hover {
  transition-duration: 0.1s;
  background-color: #0019f1;
}

.imagenes-puntos{
  gap: 100px;
  display: flex;
  align-items: center;
}

.imagenes-reportes{

  gap: 100px;
  display: flex;
  align-items: center;
}

.imagenes-reportes img{

  border-radius: 20px;
  width: 100px;
  height: 500px;
  padding: 30px;
}



.imagenes-puntos img, #img-especial{ 
  border-radius: 20px;
  width: 800px;
  height: 500px;
}

#img-especial{

  background-image: url(https://img.freepik.com/vector-premium/icono-plano-tarjeta-regalotarjeta-regalo-comprasganar-puntos-canjear-ilustracion-vector-concepto-caja-presente_716564-475.jpg);
  background-size: cover;
  background-position: center;
}

.cantidad-puntos{
  display: flex;
  position: absolute;
  top: 130px;
  right: 80px;
  align-items: center;
}

.cantidad-puntos p{
  margin-top: 15px;
  font-size: 60px;
}

.contenedor-imagen-puntos {
    position: relative;
    display: inline-block;
}

.card-reportar{
  display: block;
  position: relative;
  
}

.card-reportar img{

    display: block;
    width: 600px;
    height: 600px;
    background-color: #000F99;

}
.contenedor-imagen-puntos img,
#img-especial {
    display: block;
    width: 800px;
    height: 500px;
    border-radius: 20px;
    background-color: #000F99;
  
  
}

.texto-recoger {

    position: absolute;
    bottom: 5px;
    left: 95px;
    color: #ffffff;
    background-color:#171D8D;
    padding: 10px;
    font-size: 48px;
    border-radius: 20px;
    font-weight: bold;
    
    
}

.texto-gastar, .texto-reportar {
    background-color: rgba(23, 29, 141, 0.8);
    font-weight: bold ;
    position: absolute;
    bottom: 0px;
    left: 10px;
    color: #ffffff;
    padding: 12px;
    font-size: 48px;
    border-radius: 20px;
}

